body {
	/* Font weight fix for macs */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mobile-only { display: none; }

/* Mobile media query */
@media (max-width: 768px) {
	.desktop-only { display: none; }
	.mobile-only { display: block; }
}

/* Tablet media query */
@media (max-width: 1024px) and (min-width: 769px) {
}

/* Print media query */
@media print {
}
