@import 'vars';
@import 'normalize';

.mobile-only {
	display: none;
	@media screen and (max-width: $medium) {
		display: block;
	}
}

@media screen and (max-width: $medium) {
	.desktop-only {
		display: none;
	}
}

body {
	// Font weight fix for macs
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}